@use "@/assets/styles/common/src/sidebar" as  *;

.big-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 25px;
  width: 100%;
  height: 100%;

  @include sidebar-1();

  &__content {
    width: 748px;
    height: 100%;
  }
}