@use "animations/animations";
@use "common/common";

:root {
  --color-primary: #027AFF;
  --color-primary-secondary: #00FFFF;
  --color-primary-secondary-1: #00FFFFB5;
  --color-success: #44D7B6;
  --color-info: #7CC1FF;
  --color-info-secondary: #707070;
  --color-info-secondary-1: #ADCBFF;
  --color-hover: #1C8ADF;
  --color-warning: #FFBE44;
  --color-warning-secondary: #FEDB65;
  --background-color: #051135;
}